/*title */
hr{
  margin: 0;
}
h1{
  font-size: 4rem;
  font-weight: bold;
  color:white;
  font-family: 'Libre Baskerville', serif;
}
h4{
  font-size: 1.5rem;
  font-family: 'Hammersmith One', sans-serif;
}
p{
  font-family: 'Open Sans Condensed', sans-serif;
}
a{
  color: white;
}

.title-p{
  color:white;
}


#Title{
  background-color: #2E1114;
}

/*about us */
#AboutUs{
  background-color: #fff;
  padding: 3% 3%;
}
.center{
  text-align: center;
  padding: 5%;
}
.icon{
  color: red;
  margin-top: 10%;
}
.icon:hover{
  color: yellow;
}

/* Navigation bar */
.navbar-brand{
  font-size: 2rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 18px;
}
.nav-link{
  font-size: 1.2rem;
}
.navbar{
  padding: 0 0;
  padding-bottom: 2rem;
  background-color: black;
  color: white;
}



/*brothers section */
#Brothers{
  text-align: center;
  background-color: #fff;
  padding: 3% 3%;
}
.brothers-image{
  border-radius: 100%;
  margin: 20px;
}
.carousel-item{
  padding: 5%;
}


/*footer*/
#footer{
  text-align: center;
  background-color: #2E1114;
  color: white;
  padding: 3% 3%;
}
.card-header{
  background-color: white;
}
